body {
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.btn {
  width: 100px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin: 10px;
}
.none {
  display: none;
}
.red {
  color: red;
}
p {
  color: red;
}
input {
  border: 1px solid white;
  width: 213px;
  height: 30px;
  color: white;
  border-radius: 10px;
  background-color: black;
}
.redText {
  color: rgb(0, 255, 145);
}
.blueText {
  color: rgb(255, 0, 234);
}
.success {
  background-color: green;
}
.warnning {
  background-color: red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bttn{
  color: red;
}
.dex{
  color: red;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
